*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.offer-container{
    margin-top: 55px;
}
.offer{
    margin-top: 50px;
    padding-top: 70px;
    height: 200px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    
}
.offer img{
    padding: 0 10px;
    height: 150px;
    margin-bottom: 10px;

}
.offer::-webkit-scrollbar{
    display: none;
}

