.cart-container{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-top: 40px;
}


.cart-card{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    margin: 10px;

}

.cart-card img {
    height: 60px;
    width: 60px;
}
.cart-details{
    padding: 10px;
    margin: 10px;
}
.cart-card button{
    background-color: rgb(13, 238, 13);
    height: 30px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cart-card button:hover{
    background-color: rgb(0,100,0);
    color: white;
}