nav{
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    color: white;
    margin: 1rem;
    text-decoration: none;
}

.nav-link:hover{
    color: orange;
}
nav .active{
    color: red;
}